.table-head {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.td_list {
    padding-left: 5px;
    font-size: 20px;
}
.table-head-p {
    text-align: center;
    font-weight: bold;
}
.td_lp {
    padding-left: 5px;
}
.font {
    font-size: 25px;
    font-weight: bold;
}
a {
    text-decoration: none;
}
a:hover {
    color: lightseagreen;
}
table {
    border-collapse: collapse
}
.button {
    background-color:#121042;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 30px;
    text-decoration:none;
}
.button:hover {
    background-color:#6c7075;;
}
.button:active {
    position:relative;
    top:1px;
}